
<div class="input-group">

  <div class="custom-file">
    <input class="custom-file-input"
           #inputFile
           accept="image/*"
           (change)="selectFile($event)"
           id="inputGroupFile01" type="file">
    <label
      class="custom-file-label" for="inputGroupFile01">{{filesName}}</label>
  </div>
</div>


<form *ngxPermissionsOnly="['ROLE_CANDIDAT']" class="form-horizontal m-t-20" #f="ngForm"
      (ngSubmit)="f.form.valid && updateCandidat()">
  <div class="card">
    <div class="card-header">
      Mon Profil
    </div>
    <div class="card-body">

      <div class="form-group row ">
        <div class="col-12 ">
          <input class="form-control form-control-lg" type="text" required placeholder="Nom"
                 
                 [(ngModel)]="candidat.nom" name="nom" #nom="ngModel">
        </div>
        <div class="col-12 form-text text-danger" *ngIf="f.submitted && nom.invalid">
          <div *ngIf="nom.errors.required">
            Nom obligatoire
          </div>

        </div>
      </div>


      <div class="form-group row ">
        <div class="col-12 ">
          <input class="form-control form-control-lg" type="text" required placeholder="Prénom"
                 
                 [(ngModel)]="candidat.prenom" name="prenom" #prenom="ngModel">
        </div>
        <div class="col-12 form-text text-danger" *ngIf="f.submitted && prenom.invalid">
          <div *ngIf="prenom.errors.required">
            Prénom obligatoire
          </div>

        </div>
      </div>


      <div class="form-group row ">
        <div class="col-12 ">
          <input class="form-control form-control-lg" type="text" required placeholder="Téléphone"
                 pKeyFilter="pint"
                 [(ngModel)]="candidat.telephone" name="tel" #tel="ngModel" maxlength="8" minlength="8">
        </div>
        <div class="col-12 form-text text-danger" *ngIf="f.submitted && tel.invalid">
          <div *ngIf="tel.errors.required">
            Téléphone obligatoire
          </div>

          <div *ngIf="tel.errors.minlength">
            Téléphone doit contenir 8 chiffres
          </div>


        </div>
      </div>


      <div class="form-group row ">
        <div class="col-12 ">
          <input class="form-control form-control-lg" type="text" required placeholder="Adresse"
                 [(ngModel)]="candidat.adresse" name="adresse" #adresse="ngModel">
        </div>
        <div class="col-12 form-text text-danger" *ngIf="f.submitted && adresse.invalid">
          <div *ngIf="adresse.errors.required">
            Adresse obligatoire
          </div>


        </div>
      </div>


      <div class="form-group row ">
        <div class="col-12 ">
          <input class="form-control form-control-lg" type="email" required email placeholder="Email"
                 pKeyFilter="email"
                 [(ngModel)]="candidat.email" name="email" #email="ngModel">
        </div>
        <div class="col-12 form-text text-danger" *ngIf="f.submitted && email.invalid">
          <div *ngIf="email.errors.required">
            Email obligatoire
          </div>
          <div *ngIf="email.errors.email">
            Email invalid
          </div>

        </div>
      </div>

    </div>
    <div class="card-footer">
      <div class="float-right">

        <button type="button" class="btn btn-danger mr-2" (click)="annuler()">
          Annuler
        </button>
        <button class="btn btn-success">
          Valider
        </button>


      </div>
    </div>
  </div>
</form>


<form *ngxPermissionsOnly="['ROLE_ENTREPRISE']"  class="form-horizontal m-t-20" #f1="ngForm" (ngSubmit)="f1.form.valid && updateEntreprise()" >
<div class="card">
  <div class="card-header">
    Mon Profil
  </div>
  <div class="card-body">

      <div class="form-group row ">
        <div class="col-12 ">
          <input class="form-control form-control-lg" type="text" required placeholder="Raison sociale"
                 
                 [(ngModel)]="entreprise.raisonSociale" name="raisonSociale" #raisonSociale="ngModel">
        </div>
        <div class="col-12 form-text text-danger" *ngIf="f1.submitted && raisonSociale.invalid">
          <div *ngIf="raisonSociale.errors.required">
            Raison sociale obligatoire
          </div>

        </div>
      </div>


      <div class="form-group row ">
        <div class="col-12 ">
          <input class="form-control form-control-lg" type="text" required placeholder="Matricule fiscale"
                 
                 [(ngModel)]="entreprise.matriculeFiscale" name="matriculeFiscale" #matriculeFiscale="ngModel">
        </div>
        <div class="col-12 form-text text-danger" *ngIf="f1.submitted && matriculeFiscale.invalid">
          <div *ngIf="matriculeFiscale.errors.required">
            Matricule fiscale obligatoire
          </div>

        </div>
      </div>


      <div class="form-group row ">
        <div class="col-12 ">
          <input class="form-control form-control-lg" type="text" required  placeholder="Téléphone"
                 pKeyFilter="pint"
                 [(ngModel)]="entreprise.telephone" name="tel" #tel="ngModel" maxlength="8" minlength="8">
        </div>
        <div class="col-12 form-text text-danger" *ngIf="f1.submitted && tel.invalid">
          <div *ngIf="tel.errors.required">
            Téléphone obligatoire
          </div>

          <div *ngIf="tel.errors.minlength">
            Téléphone doit contenir 8 chiffres
          </div>


        </div>
      </div>


      <div class="form-group row ">
        <div class="col-12 ">
          <input class="form-control form-control-lg" type="text" required  placeholder="Adresse"
                 [(ngModel)]="entreprise.adresse" name="adresse" #adresse="ngModel">
        </div>
        <div class="col-12 form-text text-danger" *ngIf="f1.submitted && adresse.invalid">
          <div *ngIf="adresse.errors.required">
            Adresse obligatoire
          </div>


        </div>
      </div>


      <div class="form-group row ">
        <div class="col-12 ">
          <input class="form-control form-control-lg" type="email" required email placeholder="Email"
                 pKeyFilter="email"
                 [(ngModel)]="entreprise.email" name="email" #email="ngModel">
        </div>
        <div class="col-12 form-text text-danger" *ngIf="f1.submitted && email.invalid">
          <div *ngIf="email.errors.required">
            Email obligatoire
          </div>
          <div *ngIf="email.errors.email">
            Email invalid
          </div>

        </div>
      </div>






  </div>

  <div class="card-footer">
    <div class="float-right">

      <button type="button" class="btn btn-danger mr-2" (click)="annuler()">
        Annuler
      </button>
      <button class="btn btn-success">
        Valider
      </button>


    </div>
  </div>
</div>
</form>


